<p id="notice"><%= notice %></p>

<h1>ピン一覧</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>House</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pins.each do |pin| %>
      <tr>
        <td><%= pin.user_id %></td>
        <td><%= pin.house_id %></td>
        <td><%= link_to '詳細', pin %></td>
        <td><%= link_to '変更', edit_pin_path(pin) %></td>
        <td><%= link_to '削除', pin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'ピンの追加', new_pin_path %>
<p><%= link_to 'トップに戻る' , '/' %></p>