<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @pin.user_id %>
</p>

<p>
  <strong>House:</strong>
  <%= @pin.house_id %>
</p>

<%= link_to '変更', edit_pin_path(@pin) %> |
<%= link_to '戻る', pins_path %>
