<%= form_with(model: house) do |form| %>
  <% if house.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(house.errors.count, "error") %> prohibited this house from being saved:</h2>

      <ul>
        <% house.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-md">
  <div class="field">
    <%= form.label "地区名" %>
    <%= form.select :district_id, District.all.map { |date| [date.name,date.id]},{}, class: "form-control" %>
  </div>
  </div>
  
  <div class="col-md">
  <div class="field">
    <%= form.label "住所" %>
    <%= form.text_field :address, class: "form-control" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md">
  <div class="field">
    <%= form.label "間取り" %>
    <%= form.text_field :floorplan, class: "form-control" %>
  </div>
  </div>

  <div class="col-md">
  <div class="field">
    <%= form.label "改装", class:"form-check-label" %>
    <div class="form-check form-switch" style="margin-top: 5px;">
    <%= form.check_box :renovation, class:"form-check-input", style:"height: 1.5em; width: 3em;" %>
  </div>
  </div>
</div>

<div class="row">
  <div class="col-md">
  <div class="field">
    <%= form.label "築年数" %>
    <%= form.number_field :age, class: "form-control" %>
  </div>
  </div>

   <div class="col-md">
   <div class="field">
    <%= form.label "TEL" %>
    <%= form.text_field :tel, class: "form-control" %>
  </div>
  </div>
</div>

<div class="row">
  <div class="col-md">
  <div class="field">
    <%= form.label "価格" %>
    <%= form.number_field :price, class: "form-control" %>
  </div>
  </div>

  <div class="col-md">
  <div class="field">
    <%= form.label "その他詳細" %>
    <%= form.text_area :detail, class: "form-control" %>
  </div>
  </div>

</div>

<div>タグ</div>
<div class="row">
 <div class="col-md">
   <%= form.collection_check_boxes(:label_ids, Label.all, :id, :tag) do |date| %>
       <%= date.label class: "form-check-label" do %>
         <%= date.check_box class: "form-check-input" %>
         <%= date.text %>
       <% end %>
       <br>
   <% end %>
 </div>
</div>


  <div class="actions">
    <%= form.submit "登録", class: "form-control btn btn-dark" %>
  </div>
<% end %>
