<%= form_with(model: house) do |form| %>
  <% if house.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(house.errors.count, "error") %> prohibited this house from being saved:</h2>

      <ul>
        <% house.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col">
  <div class="field">
    <%= form.label "地区名" %>
    <%= form.number_field :district_id %>
  </div>
  </div>
  
  <div class="col">
  <div class="field">
    <%= form.label "住所" %>
    <%= form.text_field :address %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
  <div class="field">
    <%= form.label "間取り" %>
    <%= form.text_field :floorplan %>
  </div>
  </div>

  <div class="col">
  <div class="field">
    <%= form.label "改装" %>
    <%= form.check_box :renovation %>
  </div>
  </div>
</div>

<div class="row">
  <div class="col">
  <div class="field">
    <%= form.label "築年数" %>
    <%= form.number_field :age %>
  </div>
  </div>

   <div class="col">
   <div class="field">
    <%= form.label "TEL" %>
    <%= form.text_field :tel %>
  </div>
  </div>
</div>

<div class="row">
  <div class="col">
  <div class="field">
    <%= form.label "価格" %>
    <%= form.number_field :price %>
  </div>
  </div>

  <div class="col">
  <div class="field">
    <%= form.label "その他詳細" %>
    <%= form.text_area :detail %>
  </div>
  </div>
</div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
