<%= form_with(model: housepicture) do |form| %>
  <% if housepicture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(housepicture.errors.count, "error") %> prohibited this housepicture from being saved:</h2>

      <ul>
        <% housepicture.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  

  <div class="field">
    <%= form.label "空き家の写真を選択する" %>
    <%= form.file_field :photo, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.hidden_field :house_id %>
  </div>

  <div class="actions">
    <%= form.submit "写真をアップロードする", class: "form-control btn btn-success" %>
  </div>
<% end %>
