<p id="notice"><%= notice %></p>

<% if logged_in? %>
  <div class="row">
     <div class="col-md-2 offset-md-10">
         <% pin = Pin.where(house_id: house.id, user_id: current_user.id).first %>
         <% if pin.nil? %>
          <%= form_with(model: Pin.new) do |f| %>
            <%= f.hidden_field :house_id, :value => house.id %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <%= f.submit "ピン登録", class: "form-control btn btn-outline-primary btn-sm" %>
         <% end %>
         <% else %>
           <%= link_to 'ピン解除', pin, method: :delete, data:{ confirm:"ピン解除しますか？"}, class: "form-control btn btn-outline-dark btn sm" %>
         <% end%>
     </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-6">
    <table class="table table-hover">
<tr>
  <th>住所:</th>
  <td><%= house.address %></td>
</tr>

<tr>
  <th>間取り:</th>
  <td><%= house.floorplan %></td>
</tr>

<tr>
  <th>築年数:</th>
  <td><%= house.age %></td>
</tr>

<tr>
  <td>価格:</td>
  <td><%= house.price %></td>
</tr>

<tr>
  <td>TEL:</td>
  <td><%= house.tel %></td>
</tr>

<tr>
  <td>改装:</td>
  <td><%= house.renovation %></td>
</tr>

<tr>
  <td>その他詳細:</td>
  <td><%= house.detail %></td>
</tr>

<tr>
 <td>タグ：</td>
 <td>
   <% house.labels.each do |data| %>
      <span class="badge bg-success">
       <%= link_to data.tag, tag_search_path(selected_tag: data.id) %>
      </span>
   <%end%>
 </td>
</tr>
</table>
</div>

<div class="col-md-6">
<strong>写真:</strong>

<% house.housepictures.each do |housepicture| %>
<p>
  <%= image_tag(url_for(image_of_housepictures_path(housepicture.id)),size:'80x80') %>
<% if admin? %>
  <td><%= link_to '削除', housepicture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
</p>
<% end %>
</div>
</div>

