<p id="notice"><%= notice %></p>

<% if logged_in? %>
  <div class="row">
     <div class="col-md-2 offset-md-10">
         <% pin = Pin.where(house_id: house.id, user_id: current_user.id).first %>
         <% if pin.nil? %>
          <%= form_with(model: Pin.new) do |f| %>
            <%= f.hidden_field :house_id, :value => house.id %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <%= f.submit "ピン登録", class: "form-control btn btn-outline-primary btn-sm" %>
         <% end %>
         <% else %>
           <%= link_to 'ピン解除', pin, method: :delete, data:{ confirm:"ピン解除しますか？"}, class: "form-control btn btn-outline-dark btn sm" %>
         <% end%>
     </div>
  </div>
<% end %>

<p>
  <strong>住所:</strong>
  <%= house.address %>
</p>

<p>
  <strong>間取り:</strong>
  <%= house.floorplan %>
</p>

<p>
  <strong>築年数:</strong>
  <%= house.age %>
</p>

<p>
  <strong>価格:</strong>
  <%= house.price %>
</p>

<p>
  <strong>TEL:</strong>
  <%= house.tel %>
</p>

<p>
  <strong>改装:</strong>
  <%= house.renovation %>
</p>

<p>
  <strong>その他詳細:</strong>
  <%= house.detail %>
</p>

<% house.housepictures.each do |housepicture| %>
<p>
  <strong>写真:</strong>
  <%= image_tag(url_for(image_of_housepictures_path(housepicture.id)),size:'80x80') %>
  <td><%= link_to '削除', housepicture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</p>
<% end %>

