<p id="notice"><%= notice %></p>

<p>
  <strong>住所:</strong>
  <%= house.address %>
</p>

<p>
  <strong>間取り:</strong>
  <%= house.floorplan %>
</p>

<p>
  <strong>築年数:</strong>
  <%= house.age %>
</p>

<p>
  <strong>価格:</strong>
  <%= house.price %>
</p>

<p>
  <strong>TEL:</strong>
  <%= house.tel %>
</p>

<p>
  <strong>改装:</strong>
  <%= house.renovation %>
</p>

<p>
  <strong>その他詳細:</strong>
  <%= house.detail %>
</p>

<% house.housepictures.each do |housepicture| %>
<p>
  <strong>写真:</strong>
  <%= image_tag(url_for(image_of_housepictures_path(housepicture.id)),size:'100x100') %>
  <%= housepicture.id %>
  <td><%= link_to '削除', housepicture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</p>
<% end %>

