<p id="notice"><%= notice %></p>

<h1>タグ一覧</h1>

<table>
  <thead>
    <tr>
      <th>タグ</th>
      <th>House</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @labels.each do |label| %>
      <tr>
        <td><%= label.tag %></td>
        <td><%= label.house_id %></td>
        <td><%= link_to '詳細', label %></td>
        <td><%= link_to '変更', edit_label_path(label) %></td>
        <td><%= link_to '削除', label, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'タグの追加', new_label_path %>
<p><%= link_to 'トップに戻る' , '/' %></p>