<p><center><font size = 8>利用者登録</font></center></p>
<%= flash[:danger] %>
<div class="parent">
  <div class="login">
    <h1>KASHURY</h1>
<% if @user.errors.any? %>
      <strong><%= @user.errors.count %>個のエラーがあります。</storong>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
<% end %>
<%= form_with model: @user, local: true, class: "form" do |form| %>
  <p class="field first-child">
    <%= form.text_field :email, { placeholder: "Email", required: true} %>
  </p>
  <p class="field">
    <%= form.password_field :password, { placeholder: "Password", required: true} %>
  </p>
  <p class="field password-confirmation">
    <%= form.password_field :password_confirmation, { placeholder: "PasswordConfirmation", required: true} %>
  </p>
  <p class="submit">
    <%= form.submit '登録' %>
  </P>
  <% end %>
  </div>
  </div>