<p><center><font size= 15>KASHURY</font></center></p>
<p><center>___________________________________________________________________________</center></p>
<p><font size= 7><center>出雲市</center></font></p>


  <div class="row">
    <div class="col">
<img src="images/map.jpg" usemap="#ImageMap" alt="" />
<map name="ImageMap">
  <area shape="poly" coords="400,99,402,99,412,74,371,37,495,39,526,13,635,7,661,17,695,23,687,115,677,125,630,108,602,123,596,144,612,164,613,179,531,175,458,199,448,172,410,150,373,167,352,184,335,169,296,164,280,145,296,120,315,108,315,94,333,97,336,83,396,97,411,94" href="<%= houses_path(tikuid: 2) %>" alt="" />
  <area shape="poly" coords="209,67,306,79,309,108,282,126,278,147,284,162,304,171,327,172,348,186,318,206,291,211,281,231,267,236,247,231,236,222,243,172,223,142,177,103,162,102,171,94,173,69,197,89,212,77,213,67,248,98" href="<%= houses_path(tikuid: 6) %>" alt="" />
  <area shape="poly" coords="612,192,612,189,538,182,423,233,427,320,436,334,467,339,490,369,548,363,555,378,562,327,581,314,590,310,586,269,596,243,617,244,632,223,618,222,612,190,578,204" href="<%= houses_path(tikuid: 7) %>" alt="" />
  <area shape="poly" coords="206,280,207,282,228,230,286,237,293,223,348,199,404,155,444,172,452,205,422,228,419,309,424,335,443,345,462,345,486,373,512,374,546,373,551,388,532,414,506,415,491,412,486,450,446,439,439,455,416,459,374,517,353,487,319,490,301,502,262,473,222,459,231,437,249,410,251,379,232,355,222,323,229,304,203,280,233,282" href="<%=houses_path(tikuid: 1) %>" alt="" />
  <area shape="poly" coords="198,289,203,288,223,309,222,350,246,398,237,429,221,438,213,458,168,422,183,390,181,383,171,383,167,380,158,365,199,289,202,298" href="<%= houses_path(tikuid: 5) %>" alt="" />
  <area shape="poly" coords="160,428,166,428,247,473,280,502,307,508,342,494,352,492,370,528,373,544,356,552,346,569,321,579,306,627,286,643,260,673,256,669,245,697,206,682,186,689,167,695,155,672,125,660,122,593,93,577,88,550,122,539,131,510,152,499,158,472,157,452,162,425,246,562" href="<%= houses_path(tikuid: 3) %>" alt="" />
  <area shape="poly" coords="153,369,167,387,181,388,152,439,152,468,151,493,123,508,117,534,87,542,84,544,88,579,66,574,3,499,16,456,12,404,83,404,129,391,156,368,129,389" href="<%= houses_path(tikuid: 4) %>" alt="" />
</map>
</map>
 　</div>
  </div>

  <p><%= link_to '地区情報へ' , districts_path%></p>
<p><%= link_to '空き家の写真へ' , housepictures_path%></p>
<p><%= link_to '空き家の情報へ' , houses_path%></p>
<p><%= link_to 'タグ' , labels_path%></p>
<p><%= link_to 'ピン' , pins_path%></p>
<p><%= link_to 'ログイン' , login_path %></p>
  
