<p><center><font size= 15>Kashury</font></center></p>
<p><font size= 5>ホーム画面</font></p>
<%= link_to '地区情報へ' , districts_path%>
<p><%= link_to '空き家の写真へ' , housepictures_path%></p>
<p><%= link_to '空き家の情報へ' , houses_path%></p>
<p><%= link_to 'タグ' , labels_path%></p>
<p><%= link_to 'ピン' , pins_path%></p>