<h1>Home#top</h1>
<p>Find me in app/views/home/top.html.erb</p>
<%= link_to '地区情報' , districts_path%>
<%= link_to '空き家の写真' , housepictures_path%>
<%= link_to '空き家の情報' , houses_path%>
<%= link_to 'タグ' , labels_path%>
<%= link_to 'ピン' , pins_path%>