<p id="notice"><%= notice %></p>

<h1>地区情報</h1>

<table>
  <thead>
    <tr>
      <th>空き家名</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @districts.each do |district| %>
      <tr>
        <td><%= district.name %></td>
        <td><%= link_to '詳細', district %></td>
        <td><%= link_to '変更', edit_district_path(district) %></td>
        <td><%= link_to '削除', district, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '空き家情報の追加', new_district_path %>
<p><%= link_to 'トップに戻る' , '/' %></p>