<p id="notice"><%= notice %></p>

<h1>Housepictures</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Photo</th>
      <th>House</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @housepictures.each do |housepicture| %>
      <tr>
        <td><%= housepicture.name %></td>
        <td><%= housepicture.photo %></td>
        <td><%= housepicture.house_id %></td>
        <td><%= link_to 'Show', housepicture %></td>
        <td><%= link_to 'Edit', edit_housepicture_path(housepicture) %></td>
        <td><%= link_to 'Destroy', housepicture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Housepicture', new_housepicture_path %>
