<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @housepicture.name %>
</p>

<p>
  <strong>Photo:</strong>
  <%= image_tag(url_for(image_of_housepictures_path(@housepicture)),size:'100x100') %></td>
</p>

<p>
  <strong>House:</strong>
  <%= @housepicture.house_id %>
</p>

<%= link_to '変更', edit_housepicture_path(@housepicture) %> |
<%= link_to '戻る', housepictures_path %>
