<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @housepicture.name %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @housepicture.photo %>
</p>

<p>
  <strong>House:</strong>
  <%= @housepicture.house_id %>
</p>

<%= link_to 'Edit', edit_housepicture_path(@housepicture) %> |
<%= link_to 'Back', housepictures_path %>
