<!DOCTYPE html>
<html>
  <head>
    <title>Kashury</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <div class="container">
    <%= yield %>
  </div>

<div class="fixed-bottom">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">設定</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
         <a class="nav-link active" aria-current="page" href="/">ホームへ</a>
        </li>

         <li class="nav-item">
         <a class="nav-link active" aria-current="page" href="<%= houses_path %>">空き家情報へ</a>
        </li>
        <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="<%= labels_path %>">タグ</a>
        </li>
        <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="<%= pins_path %>">ピン</a>
        </li>
        <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="<%= profile_path %>">登録者情報</a>
        </li>
      </ul>
      <%= form_with url: search_path, local: true, method: :get,class: "d-flex" do |f| %>
        <%= f.text_field :keyword, class: "form-control me-2", placeholder: "地区名/住所", type:"search", aria:{label:"Search"} %>
        <%= f.submit "検索", class: "btn btn-outline-success" %>
      <% end %>
    </div>
  </div>
</nav>
</div>

  </body>
</html>
